Workflow\CsharpProjects\TestProject\bin
Workflow\CsharpProjects\TestProject\obj
Workflow/CsharpProjects/TestProject/bin/Debug/net8.0/TestProject.dll
Workflow/CsharpProjects/TestProject/bin/Debug/net8.0/TestProject.exe
Workflow/CsharpProjects/TestProject/bin/Debug/net8.0/TestProject.pdb
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/apphost.exe
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/ref/TestProject.dll
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/refint/TestProject.dll
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.AssemblyInfo.cs
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.AssemblyInfoInputs.cache
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.assets.cache
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.dll
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.genruntimeconfig.cache
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.pdb
Workflow/CsharpProjects/TestProject/obj/Debug/net8.0/TestProject.sourcelink.json
Workflow/CsharpProjects/TestProject/obj/project.nuget.cache
Workflow/CsharpProjects/TestProject/obj/TestProject.csproj.nuget.dgspec.json
